<nav class="border-gray-200 bg-gray-900 relative">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">HiringGo</span>
    </a>

    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        type="button"
        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-600"
        id="user-menu-button"
        aria-expanded="false"
        onclick="document.getElementById('user-dropdown').classList.toggle('hidden')"
      >
        <span class="sr-only">Open user menu</span>
        <div class="w-8 h-8 rounded-full bg-red-900"></div>
      </button>

      <!-- Dropdown menu -->
      <div
        class="z-50 hidden text-base list-none bg-gray-700 divide-y divide-gray-600 rounded-lg shadow-sm absolute right-4 top-16"
        id="user-dropdown"
      >
        <div class="px-4 py-3 flex space-x-1">
          <span class="block text-sm text-gray-200">Halo, </span>
          <span class="block text-sm text-gray-400 truncate" id="user-role"></span>
        </div>

        <!-- Sesuaikan -->
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a
              href="#"
              onclick="handleLogout()"
              id="signOutLink"
              class="block px-4 py-2 text-sm text-gray-200 hover:bg-gray-600 hover:text-white"
              >Sign out</a
            >
          </li>
        </ul>
      </div>

      <button
        onclick="document.getElementById('navbar-user').classList.toggle('hidden')"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-400 rounded-lg md:hidden hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600"
        aria-controls="navbar-user"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>

    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user"
    >
      <ul id="navbar-role-links"
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-700 rounded-lg bg-gray-800 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-gray-900"
      >
        <li>
          <a
            href="/pages/dashboard/dashboard.html"
            class="block py-2 px-3 text-white rounded-sm hover:rounded-lg hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500 md:p-0 hover:text-white md:hover:bg-transparent"
            aria-current="page"
            >Home</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  // Sesuaikan aja
  const menuLinksByRole = {
    MAHASISWA: [
      { text: 'Mendaftar Lowongan', href: '/' },
      // { text: 'Manajemen Log', href: '/pages/log/list.html' },
      { text: 'Dashboard Honor', href: '/pages/honor/mahasiswa.html' },
    ],
    ADMIN: [
      { text: 'Manajemen Akun', href: '/pages/management/list.html' },
      { text: 'Manajemen Mata Kuliah', href: '/' },
    ],
    DOSEN: [
      { text: 'Manajemen Lowongan', href: '/' },
      { text: 'Periksa Log', href: '/pages/periksa_log/periksa_log.html' },
    ],
  };

  token = localStorage.getItem('token') || '';
  function parseJwt(t) {
    try {
      const base64 = t.split('.')[1].replace(/-/g, '+').replace(/_/g, '/');
      return JSON.parse(atob(base64));
    } catch {
      return {};
    }
  }
  
  const payload = parseJwt(token);
  const userId = payload.sub || payload.id || '';

  const roleSpan = document.getElementById("user-role");
  if (roleSpan && payload.role) {
    roleSpan.innerText = payload.role;
  }

  console.log("dari navbar: "+payload.role)

  const navbarLinksContainer = document.getElementById('navbar-role-links');

  if (token && payload.role && menuLinksByRole[payload.role]) {
    const links = menuLinksByRole[payload.role];
    links.forEach(link => {
      const li = document.createElement('li');
      li.innerHTML = `
        <a href="${link.href}"
          class="block py-2 px-3 text-white rounded-sm hover:rounded-lg hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500 md:p-0 hover:text-white">
          ${link.text}
        </a>
      `;
      navbarLinksContainer.appendChild(li);
    });
  }

  document.addEventListener("click", function (event) {
    const dropdown = document.getElementById("user-dropdown");
    const button = document.getElementById("user-menu-button");
    if (!dropdown.contains(event.target) && !button.contains(event.target)) {
      dropdown.classList.add("hidden");
    }
  });

  function handleLogout() {
    if (confirm('Apakah Anda yakin ingin logout?')) {
      localStorage.removeItem('token');
      window.location.href = '../../index.html';  
    }
}
</script>
